<%= form_for(@user_score) do |f| %>
  <% if @user_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_score.errors.count, "error") %> prohibited this user_score from being saved:</h2>

      <ul>
      <% @user_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
