<p id="notice"><%= notice %></p>

<h1>Listing Tabled User Scores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabled_user_scores.each do |tabled_user_score| %>
      <tr>
        <td><%= tabled_user_score.user %></td>
        <td><%= tabled_user_score.score %></td>
        <td><%= link_to 'Show', tabled_user_score %></td>
        <td><%= link_to 'Edit', edit_tabled_user_score_path(tabled_user_score) %></td>
        <td><%= link_to 'Destroy', tabled_user_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tabled user score', new_tabled_user_score_path %>
