<p id="notice"><%= notice %></p>

<p>
  <strong>Puzzle:</strong>
  <%= @vote.puzzle %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @vote.popularity %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @vote.difficulty %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
